@use 'base';
@use 'reset';

$size:100px;
$primary-color:red;
$color:blue;

@mixin box($size,$color){
    width:$size;
    height:$size;
    background-color:$color;
}

.box{
    @include box($size,$color);
}
.container{
    .box{
        @include box(200px,green)
    }
}